@use '../../styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user {
  width: 100%;
  height: 50px;
  padding-right: 10px;
  background-color: $color-light-gray;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;

  &__name {
    color: $color-dark-gray;
    font-size: $font-size-caption;
    display: flex;
    align-items: center;
    gap: 5px;

    & > svg {
      fill: $color-dark-gray;
    }
  }

  &__logout {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;

    & > svg {
      fill: $color-dark-gray;

      &:hover {
        fill: $color-medium-gray;
      }
    }
  }
}

.todo {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 60px;

  &__header {
    font-size: $font-size-title;
    font-weight: $font-weight-extrabold;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-medium-gray;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    & > li {
      position: relative;

      &:hover {
        .todo__button-box {
          visibility: visible;
        }
      }
    }
  }

  &__item {
    & > button {
      width: 100%;
      padding: 25px;
      background-color: $color-primary;
      border-radius: 15px;
      font-size: $font-size-body;
      font-weight: $font-weight-regular;
      text-align: left;
    }

    &--selected,
    &:hover {
      @extend .todo__item;
      & > button {
        background-color: $color-secondary;
      }
    }

    &--new {
      & > button {
        width: 100%;
        padding: 25px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: $font-size-body;
        font-weight: $font-weight-regular;
        text-align: left;
        color: $color-medium-gray;
        background-color: $color-light-gray;
        border-radius: 15px;
        border: 2px dashed $color-medium-gray;

        & > svg {
          fill: $color-medium-gray;
        }
      }

      &:hover {
        & > button {
          color: $color-dark-gray;
          background-color: $color-medium-gray;
          border-style: solid;
          box-shadow: 0 0 8px $color-medium-gray;

          & > svg {
            fill: $color-dark-gray;
          }
        }
      }
    }
  }

  &__button-box {
    width: fit-content;
    margin-right: 25px;
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    visibility: hidden;

    & > button {
      width: fit-content;
      height: fit-content;
      background-color: transparent;
      display: flex;
      align-items: center;

      & > svg {
        filter: drop-shadow(0 0 2px $color-medium-gray);
        fill: $color-dark-gray;

        &:hover {
          fill: $color-white;
        }
      }
    }
  }
}
