$color-white: #fafafa;
$color-black: #202020;
$color-dark-gray: #676769;
$color-medium-gray: #b4b4b6;
$color-light-gray: #f0f0f2;

$color-background: $color-white;
$color-primary: #bfc6f4;
$color-secondary: #f6ff80;
// $color-tertiary: #f9ffa9;
