@use '../../styles/index' as *;

.auth {
  height: 100%;
  background-color: $color-dark-gray;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
    border-radius: 30px;
    background-color: $color-background;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  &__title {
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > label {
      flex-basis: 100px;
      font-size: $font-size-body;
      font-weight: $font-weight-semibold;
    }
  }

  &__submit {
    border-radius: 10px;
    padding: 20px;
    background-color: $color-primary;
    color: $color-dark-gray;
    font-size: $font-size-body;
    font-weight: $font-weight-semibold;

    &:hover {
      background-color: $color-secondary;
    }

    &:disabled {
      background-color: $color-light-gray;
      color: $color-medium-gray;
      cursor: not-allowed;
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: auto;

  &__input {
    border-radius: 10px;
    padding: 10px;
    background-color: $color-light-gray;
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
  }

  &__error {
    color: $color-primary;
    font-size: $font-size-caption;
    font-weight: $font-weight-light;
  }
}
